<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <div class="container">
      <img class="background-left" src="/background-login-left.png" />
      <img class="background-right" src="/background-login-right.png" />
      <form class="form-verify" (ngSubmit)="onSubmitVerify()">
        <h2>Nhập mã từ Email</h2>
        <input
          type="text"
          placeholder="Nhập mã từ email"
          [(ngModel)]="codeVerify"
          name="codeVerify"
          required
        />
        <div class="submit">
          <input type="submit" value="Gửi" />
        </div>
      </form>
    </div>
  </body>
</html>
