<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="group-logo">
        <img src="/logo-bat-dong-san.png" alt="Logo" class="footer-logo" />
        <h1>CoDat</h1>
      </div>
      <p>CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM</p>
      <p>Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội</p>
      <p>(024) 3562 5939 - (024) 3562 5940</p>
      <div class="social-icons">
        <a href="#"><img src="/icon-social-facebook.png" alt="Facebook" /></a>
        <a href="#"><img src="/icon-social-linkedIn.png" alt="LinkedIn" /></a>
        <a href="#"><img src="/icon-social-youtube.png" alt="YouTube" /></a>
        <a href="#"><img src="/icon-social-instagram.png" alt="Instagram" /></a>
      </div>
    </div>
    <div class="footer-middle">
      <h4>HƯỚNG DẪN</h4>
      <ul>
        <li><a href="#">Về chúng tôi</a></li>
        <li><a href="#">Báo giá & hỗ trợ</a></li>
        <li><a href="#">Câu hỏi thường gặp</a></li>
        <li><a href="#">Góp ý báo lỗi</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <h4>QUY ĐỊNH</h4>
      <ul>
        <li><a href="#">Quy định đăng tin</a></li>
        <li><a href="#">Quy chế hoạt động</a></li>
        <li><a href="#">Điều khoản thỏa thuận</a></li>
        <li><a href="#">Chính sách bảo mật</a></li>
        <li><a href="#">Giải quyết khiếu nại</a></li>
      </ul>
    </div>
  </div>
</footer>
