<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <div class="container">
      <img class="background-left" src="/background-login-left.png" />
      <img class="background-right" src="/background-login-right.png" />
      <div
        class="form-enter-email"
        [ngStyle]="{ display: isEmail ? 'block' : 'none' }"
      >
        <h2 class="h2-forgot-password">Quên mật khẩu</h2>
        <p class="p-forgot-password">Vui lòng nhập vào địa chỉ email của bạn</p>
        <input
          class="input-forgot-password"
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Email"
          required
          minlength="11"
          maxlength="50"
        />
        <div class="button-forgot-password">
          <input
            class="cancel-button"
            type="button"
            value="Huỷ bỏ"
            (click)="cancelEmail()"
          />
          <input
            class="search-button"
            type="button"
            value="Tìm kiếm"
            (click)="sendEmail()"
          />
        </div>
      </div>
      <div
        class="form-enter-code"
        [ngStyle]="{ display: isFormEmail ? 'block' : 'none' }"
      >
        <h2 class="h2-forgot-password">Quên mật khẩu</h2>
        <p class="p-forgot-password">
          Vui lòng nhập mã đã được gửi đến Email của bạn
        </p>
        <input
          class="input-forgot-password"
          type="text"
          name="code-email"
          [(ngModel)]="code"
          placeholder="Nhập mã từ email"
          required
          minlength="11"
          maxlength="50"
        />
        <div class="button-forgot-password">
          <input
            class="cancel-button"
            type="button"
            value="Huỷ bỏ"
            (click)="cancelCode()"
          />
          <input
            class="search-button"
            type="button"
            value="Gửi"
            (click)="verifyCode()"
          />
        </div>
      </div>
      <div
        class="form-enter-newpassword"
        [ngStyle]="{ display: isFormCode ? 'block' : 'none' }"
      >
        <h2 class="h2-forgot-password">Quên mật khẩu</h2>
        <p class="p-forgot-password">Nhập mật khẩu mới</p>
        <input
          class="input-forgot-password"
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Nhập mật khẩu"
          required
          minlength="6"
          maxlength="20"
        />
        <input
          class="input-forgot-password2"
          type="password"
          name="passwordAgain"
          [(ngModel)]="passwordAgain"
          placeholder="Nhập lại mật khẩu"
          required
          minlength="6"
          maxlength="20"
        />
        <div class="button-forgot-password">
          <input
            class="cancel-button"
            type="button"
            value="Huỷ bỏ"
            (click)="cancelPassword()"
          />
          <input
            class="search-button"
            type="button"
            value="Gửi"
            (click)="resetPassword()"
          />
        </div>
      </div>
    </div>
  </body>
</html>
