<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="name">
          <img src="{{ img_avt }}" class="img-avatar" />
          <p>{{ fullName }}</p>
        </div>
        <div class="negative">
          <div class="title">
            <img src="/post-manage.png" />
            <p>Quản lý tin đăng</p>
          </div>
          <div class="negative-detail">
            <a href="/post-for-rent">Đăng tin mới</a>
            <a href="">Danh sách tin đăng</a>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="filter">
          <h2>Danh sách tin</h2>
          <div class="filter-group">
            <div class="filter-title">
              <input
                [(ngModel)]="code"
                type="text"
                name="filter-title"
                placeholder="Tìm theo mã tin, tiêu đề"
              />
              <button (click)="filterCode()">
                <img src="/icon-search.png" />
              </button>
            </div>
            <div class="filter-time">
              <img src="/icon-calendar.png" />
              <select name="time">
                <option>Mặc định</option>
                <option>1 tuần qua</option>
                <option>30 ngày qua</option>
              </select>
            </div>
            <div class="filter-post">
              <img src="/post-manage.png" />
              <select name="post" (change)="setFilterCategory($event)">
                <option value="all">Tất cả</option>
                <option value="rent">Cho thuê</option>
                <option value="find">Tìm người ở ghép</option>
              </select>
            </div>
          </div>
          <div class="list-show">
            <button
              [ngClass]="selectedFilter === 'all' ? 'active' : ''"
              (click)="setFilter('all')"
            >
              Tất cả ({{ totalPost }})
            </button>
            <button
              [ngClass]="selectedFilter === 'showing' ? 'active' : ''"
              (click)="setFilter('showing')"
            >
              Đang hiển thị ({{ countVisible }})
            </button>
            <button
              [ngClass]="selectedFilter === 'hidden' ? 'active' : ''"
              (click)="setFilter('hidden')"
            >
              Đã ẩn ({{ countHidden }})
            </button>
          </div>
        </div>
        <div class="post-detail" *ngFor="let post of filteredPosts">
          <div class="form">
            <div class="img">
              <div *ngFor="let image of post.images">
                <img [src]="'/' + image" alt="Image" />
              </div>
            </div>
            <div class="inf">
              <div class="title">
                <p
                  [ngClass]="post.category === 'Ở ghép' ? 'co-living' : 'rent'"
                >
                  {{ post.category }}
                </p>
                <p>
                  {{ post.title }}
                </p>
              </div>
              <div class="address">
                <img src="/icon-address.png" />
                <p>{{ post.address }}</p>
              </div>
              <div class="price-acreage">
                <p class="price">{{ post.price }}/ tháng</p>
                <p class="acreage">{{ post.arge }}m <sup>2</sup></p>
              </div>
              <div class="inf-more">
                <div class="content">
                  <div class="code">
                    <p>Mã tin</p>
                    <p>{{ post.id }}</p>
                  </div>
                  <div class="date">
                    <p>Ngày đăng</p>
                    <p>{{ post.created_day | date : "dd/MM/yyyy" }}</p>
                  </div>
                  <div class="status">
                    <p>Trạng thái</p>
                    <p
                      [ngClass]="
                        post.status.toString() === 'true' ? 'show' : 'false'
                      "
                    >
                      {{ post.status ? "Đang hiển thị" : "Đã ẩn" }}
                    </p>
                  </div>
                </div>
                <div class="button">
                  <div class="hide-post">
                    <button (click)="hidePost(post.id)">Ẩn tin</button>
                    <img src="/icon-hide.png" />
                  </div>
                  <div class="edit-post">
                    <button>
                      <a [routerLink]="['/edit-post', post.id]">Sửa tin</a>
                    </button>
                    <img src="/icon-edit.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
