<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="name">
          <img src="" class="img-avatar" />
          <p>Name</p>
        </div>
        <div class="negative">
          <div class="title">
            <img src="/public/post-manage.png" />
            <p>Quản lý tin đăng</p>
          </div>
          <div class="negative-detail">
            <a href="/post-for-rent">Đăng tin mới</a>
            <a href="">Danh sách tin đăng</a>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="filter">
          <h2>Danh sách tin</h2>
          <div class="filter-group">
            <div class="filter-title">
              <input
                type="text"
                name="filter-title"
                placeholder="Tìm theo mã tin, tiêu đề"
              />
              <button>
                <img src="/public/icon-search.png" />
              </button>
            </div>
            <div class="filter-time">
              <img src="/public/icon-calendar.png" />
              <select name="time">
                <option>Mặc định</option>
                <option>1 tuần qua</option>
                <option>30 ngày qua</option>
              </select>
            </div>
            <div class="filter-post">
              <img src="/public/post-manage.png" />
              <select name="post">
                <option>Tất cả</option>
                <option>Cho thuê</option>
                <option>Tìm người ở ghép</option>
              </select>
            </div>
          </div>
          <div class="list-show">
            <button
              [ngClass]="selectedFilter === 'all' ? 'active' : ''"
              (click)="setFilter('all')"
            >
              Tất cả
            </button>
            <button
              [ngClass]="selectedFilter === 'showing' ? 'active' : ''"
              (click)="setFilter('showing')"
            >
              Đang hiển thị
            </button>
            <button
              [ngClass]="selectedFilter === 'hidden' ? 'active' : ''"
              (click)="setFilter('hidden')"
            >
              Đã ẩn
            </button>
          </div>
        </div>
        <div class="post-detail" *ngFor="let post of posts">
          <div class="form">
            <div class="img">
              <img src="/public/{{ post.img }}" />
            </div>
            <div class="inf">
              <div class="title">
                <p
                  [ngClass]="post.category === 'Ở ghép' ? 'co-living' : 'rent'"
                >
                  {{ post.category }}
                </p>
                <p>
                  {{ post.title }}
                </p>
              </div>
              <div class="address">
                <img src="/public/icon-address.png" />
                <p>{{ post.address }}</p>
              </div>
              <div class="price-acreage">
                <p class="price">{{ post.price }}/ tháng</p>
                <p class="acreage">{{ post.acreage }}m <sup>2</sup></p>
              </div>
              <div class="inf-more">
                <div class="content">
                  <div class="code">
                    <p>Mã tin</p>
                    <p>{{ post.code }}</p>
                  </div>
                  <div class="date">
                    <p>Ngày đăng</p>
                    <p>{{ post.date }}</p>
                  </div>
                  <div class="status">
                    <p>Trạng thái</p>
                    <p
                      [ngClass]="
                        post.status === 'Đang hiển thị' ? 'show' : 'hide'
                      "
                    >
                      {{ post.status }}
                    </p>
                  </div>
                </div>
                <div class="button">
                  <div class="hide-post">
                    <button>Ẩn tin</button>
                    <img src="/public/icon-hide.png" />
                  </div>
                  <div class="edit-post">
                    <button>Sửa tin</button>
                    <img src="/public/icon-edit.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
