<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img src="/logo-bat-dong-san.png" />
        <b>CoDat</b>
      </div>
      <div class="link">
        <a href="">Trang chủ</a>
        <a href="">Cho thuê phòng trọ</a>
        <a href="">Tìm người ở ghép</a>
      </div>
      <div class="button">
        <a routerLink="/" (click)="onLoginClick()">
          <input
            type="button"
            value="Đăng nhập"
            [ngClass]="{ active: isButtonActive }"
          />
        </a>
        <a routerLink="/">
          <input type="button" value="Đăng ký" />
        </a>
        <input class="post" type="button" value="Đăng tin" />
      </div>
    </div>
  </body>
</html>
