<div class="content">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="profile-section">
      <div class="profile-avatar">
        <div class="avatar-circle"></div>
      </div>
      <span>Thanh Trâm</span>
    </div>
    <ul class="sidebar-links">
      <ul>
        <i class="fa fa-user" aria-hidden="true"></i
        >Quản lý tài khoản
      </ul>
      <li class="sub-link active">
        <a routerLink="/edit-profile">Chỉnh sửa hồ sơ</a>
      </li>
      <li class="sub-link">
        <a routerLink="/change-password">Thay đổi mật khẩu</a>
      </li>
      <li class="sub-link">
        <a routerLink="/register-landlord">ĐK làm người cho thuê</a>
      </li>
    </ul>
  </aside>
  <div class="profile-container">
    <h2>Quản lý tài khoản</h2>
    <div class="tabs">
      <a class="tab active" routerLink="/edit-profile">Chỉnh sửa hồ sơ</a>
      <a class="tab" routerLink="/change-password">Thay đổi mật khẩu</a>
      <a class="tab" routerLink="/register-landlord">ĐK làm người cho thuê</a>
    </div>

    <div class="profile-form">
      <h3>Thông tin cá nhân</h3>
      <div class="avatar-section">
        <div class="avatar-container">
          <img class="load-avatar" src="/images/load-avatar.png" alt="avatar" />
        </div>
        <label for="file-upload" class="upload-button">Tải ảnh lên</label>
        <input id="file-upload" type="file" hidden />
      </div>

      <div class="form-group name-input">
        <label for="fullName">Họ và tên</label>
        <input type="text" id="fullName" />
      </div>
      <hr
        style="
          width: 95%;
          border-top: 1px solid #d3d3d3;
          display: block;
          margin: 0 auto;
        "
      />

      <h3 style="padding-top: 20px">Thông tin liên hệ</h3>
      <div class="form-group contact-infor">
        <div class="half-group">
          <label for="phone">Số điện thoại</label>
          <input type="text" id="phone" />
          <a href="#" class="change-phone-link">Đổi số điện thoại</a>
        </div>
        <div class="half-group">
          <label for="email">Email</label>
          <input type="email" id="email" />
        </div>
      </div>
      <div class="save-button-container">
        <button class="save-button">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>
