<div class="content">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="profile-section">
      <div class="profile-avatar">
        <div class="avatar-circle"></div>
      </div>
      <span>Thanh Trâm</span>
    </div>
    <ul class="sidebar-links">
      <ul>
        <i class="fa fa-user" aria-hidden="true"></i
        >Quản lý tài khoản
      </ul>
      <li class="sub-link">
        <a routerLink="/edit-profile">Chỉnh sửa hồ sơ</a>
      </li>
      <li class="sub-link active">
        <a routerLink="/change-password">Thay đổi mật khẩu</a>
      </li>
      <li class="sub-link">
        <a routerLink="/register-landlord">ĐK làm người cho thuê</a>
      </li>
    </ul>
  </aside>
  <div class="profile-container">
    <h2>Quản lý tài khoản</h2>
    <div class="tabs">
      <a class="tab" routerLink="/edit-profile">Chỉnh sửa hồ sơ</a>
      <a class="tab active" routerLink="/change-password">Thay đổi mật khẩu</a>
      <a class="tab" routerLink="/register-landlord">ĐK làm người cho thuê</a>
    </div>
    <form>
      <h3>Đổi mật khẩu</h3>
      <label>Mật khẩu hiện tại</label>
      <div class="password-input">
        <input type="password" />
        <button type="button"></button>
      </div>

      <!-- New Password -->
      <label>Mật khẩu mới</label>
      <div class="password-input">
        <input type="password" />
        <button type="button"></button>
      </div>

      <!-- Confirm Password -->
      <label>Xác nhận mật khẩu</label>
      <div class="password-input">
        <input type="password" />
        <button type="button"></button>
      </div>

      <ul class="password-criteria">
        <li>Mật khẩu tối thiểu 6 ký tự</li>
        <li>Chứa ít nhất 1 ký tự viết hoa</li>
        <li>Chứa ít nhất 1 ký tự viết thường</li>
        <li>Chứa ít nhất 1 ký tự đặc biệt</li>
        <li>Chứa ít nhất 1 ký tự số</li>
      </ul>

      <div class="save-button-container">
        <button class="save-button">Lưu thay đổi</button>
      </div>
    </form>
  </div>
</div>
