<div class="content">
  <app-sidebar></app-sidebar>

  <div class="profile-container">
    <h2>Quản lý tài khoản</h2>
    <div class="tabs">
      <a class="tab" routerLink="/edit-profile">Chỉnh sửa hồ sơ</a>
      <a class="tab active" routerLink="/change-password">Thay đổi mật khẩu</a>
      <a class="tab" routerLink="/register-landlord">ĐK làm người cho thuê</a>
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <h3>Đổi mật khẩu</h3>
      <label>Mật khẩu hiện tại</label>
      <div class="password-input">
        <input
          type="password"
          id="current-password"
          formControlName="currentPassword"
        />
        <i
          class="fa fa-eye-slash"
          (click)="togglePasswordVisibility('current')"
        ></i>
        <div *ngIf="isCurrentPasswordInvalid" class="error-message">
          {{ currentPasswordErrorMessage }}
        </div>
      </div>

      <!-- New Password -->
      <label>Mật khẩu mới</label>
      <div class="password-input">
        <input
          type="password"
          id="new-password"
          formControlName="newPassword"
        />
        <i
          class="fa fa-eye-slash"
          (click)="togglePasswordVisibility('new')"
        ></i>
        <div *ngIf="isNewPasswordInvalid" class="error-message">
          {{ newPasswordErrorMessage }}
        </div>
      </div>

      <!-- Confirm Password -->
      <label>Xác nhận mật khẩu</label>
      <div class="password-input">
        <input
          type="password"
          id="confirm-password"
          formControlName="confirmPassword"
        />
        <i
          class="fa fa-eye-slash"
          (click)="togglePasswordVisibility('confirm')"
        ></i>
        <div *ngIf="isConfirmPasswordInvalid" class="error-message">
          {{ confirmPasswordErrorMessage }}
        </div>
      </div>

      <ul class="password-criteria">
        <li>Mật khẩu tối thiểu 6 ký tự</li>
        <li>Chứa ít nhất 1 ký tự viết hoa</li>
        <li>Chứa ít nhất 1 ký tự viết thường</li>
        <li>Chứa ít nhất 1 ký tự đặc biệt</li>
        <li>Chứa ít nhất 1 ký tự số</li>
      </ul>

      <div class="save-button-container">
        <button class="save-button">Lưu thay đổi</button>
      </div>
    </form>
  </div>
</div>
