<div class="app-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="profile-section">
      <div class="profile-avatar">
        <div class="avatar-circle">
          <img
            *ngIf="avatarPreview"
            class="load-avatar"
            [src]="avatarPreview"
            alt="Avatar"
          />
        </div>
      </div>
      <span>{{ fullName }}</span>
    </div>
    <ul class="sidebar-links">
      <li>
        <i class="fa fa-user" aria-hidden="true"></i>
        Quản lý tài khoản
      </li>
      <li class="sub-link" routerLinkActive="active">
        <a routerLink="/edit-profile">Chỉnh sửa hồ sơ</a>
      </li>
      <li class="sub-link" routerLinkActive="active">
        <a routerLink="/change-password">Thay đổi mật khẩu</a>
      </li>
      <li class="sub-link" routerLinkActive="active">
        <a routerLink="/register-landlord">ĐK làm người cho thuê</a>
      </li>
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <!-- Thay thế nội dung bằng router-outlet -->
    <router-outlet></router-outlet>
  </main>
</div>
